*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis',sans-serif;
    font-size: 1.1em;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 10px;
    box-sizing: border-box;
    transition: .5s;
}
nav.black{
    background: rgba(0,0,0,0.8);
    height: 80px;
    padding: 10px 50px;
    color: white;
}
nav .logo{
    float: left;
}

nav .logo img{
    height: 80px;
    transition: .5s;

}
nav.black .logo img{
    height: 60px;
}
nav ul{
    float: right;
    margin: 0;
    padding: 0;
    display: flex;

}
nav ul li{
    list-style: none;
    color: white;
}
nav ul li a{
    line-height: 80px;
    color: white;
    padding: 2px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}
nav.black ul li a{
    color: #fff;
    line-height: 60px;
}
nav ul li a.active,nav ul li a:hover{
    color: black;
    background: white;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}


.form{
    background-color: white;
    width: 100%;
    text-align: center;
    padding-left: 80px;
}



.vertical-menu a {
    color: black; /* Black text color */
    display: flow-root; /* Make the links appear below each other */
    display: flow-root; /* Make the links appear below each other */
    padding: 20px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    width: 252px;

}

.vertical-menu a.active {
    background-color: lightseagreen; /* Add a green color to the "active/current" link */
    color: white;
}
.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
    text-decoration: none;
}

.myform{
    width: 70%;
    height: 580px;
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    padding-left: 100px;
    box-shadow: dimgrey;
    font-size: 1.2em;
}
.myform input{
    width: 200px;
    height: 30px;

}

.submitBtn{
    background-color: rgba(0,0,0,0.1);
    background-color: gray;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    color: black;
}
